<PageTitle> &#x1F4BB; Desktop</PageTitle>

<div class="flex flex-col items-center justify-center h-screen text-center font-serif font-bold user select-none">
    <div>
        <ASCII />
    </div>
    <div class="flex flex-row mt-5 text-neutral-50">
        <div @onclick=@(() => OnClick("cryptography")) @ondblclick=@(() => Challenges.OnDblClick("cryptography")) class="ml-12 flex flex-col items-center @(showBorder == "cryptography" ? "border-b-2 border-dashed" : "")">
            <img src="img/Cryptography.png" style="width: 48px; height:auto;">
            Cryptography
        </div>
        <div @onclick=@(() => OnClick("osint")) @ondblclick=@(() => Challenges.OnDblClick("osint")) class="ml-12 flex flex-col items-center @(showBorder == "osint" ? "border-b-2 border-dashed" : "")">
            <img src="img/OSINT.png" style="width: 48px; height:auto;">
            OSINT
        </div>
        <div @onclick=@(() => OnClick("reversing")) @ondblclick=@(() => Challenges.OnDblClick("reversing")) class="ml-12 flex flex-col items-center @(showBorder == "reversing" ? "border-b-2 border-dashed" : "")">
            <img src="img/Reversing.png" style="width: 48px; height:auto;">
            Reversing
        </div>
        <div @onclick=@(() => OnClick("steganography")) @ondblclick=@(() => Challenges.OnDblClick("steganography")) class="ml-12 flex flex-col items-center @(showBorder == "steganography" ? "border-b-2 border-dashed" : "")">
            <img src="img/Steganography.png" style="width: 48px; height:auto;">
            Steganography
        </div>
        <div @onclick=@(() => OnClick("web")) @ondblclick=@(() => Challenges.OnDblClick("web")) class="ml-12 flex flex-col items-center @(showBorder == "web" ? "border-b-2 border-dashed" : "")">
            <img src="img/Web.png" style="width: 48px; height:auto;">
            Web
        </div>
        <div @onclick=@(() => OnClick("audiography")) @ondblclick=@(() => Challenges.OnDblClick("audiography")) class="ml-12 flex flex-col items-center @(showBorder == "audiography" ? "border-b-2 border-dashed" : "")">
            <img src="img/Audiography.png" style="width: 48px; height:auto;">
            Audiography
        </div>
        <div @onclick=@(() => OnClick("leaderboard")) @ondblclick=@(() => Challenges.OnDblClick("leaderboard")) class="ml-12 flex flex-col items-center @(showBorder == "leaderboard" ? "border-b-2 border-dashed" : "")">
            <img src="img/Leaderboard.png" style="width: 48px; height:auto;">
            Leaderboard
        </div>
    </div>
</div>

@code {
    private string showBorder = "";

    [CascadingParameter]
    public Challenges Challenges { get; set; }

    private void OnClick(string icon){
        showBorder = icon;
    }


}
